<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="Tohtori, Gerhard, Tilaa, Pullo">
    <meta name="description" content="Hei, olen Tohtori Gerhard">
    <meta name="language" content="FI">
    <meta name="og:title" content="Tohtori Gerhard - Tilaa pullo!">
    <meta name="og:image" content="http://www.tilaapullo.com/gerhard.jpg">
    <meta name="og:site_name" content="Tilaa pullo">
    <meta name="og:description" content="Tilaa ilmainen pullosi jo tänään!">
    
    <title>Tohtori Gerhard</title>
    <link rel="stylesheet" href="<%= BASE_URL %>bootstrap.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141497004-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141497004-1');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but gerhard doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>
