<template>
  <div class="comments">
    <b-row>
      <b-col>
        <h5>Kommentit</h5>
      </b-col>
      <b-col>
        <b-input-group>
          <b-form-input v-model="search" placeholder="Hae nimellä"></b-form-input>
          <b-input-group-append>
            <b-button variant="outline-dark" v-on:click="search = ''"><b-icon icon="x-circle"></b-icon></b-button>
          </b-input-group-append>
        </b-input-group>
        
        <DatePicker v-model="date" :format="'YYYY-MM-DD'"></DatePicker>
      </b-col>
    </b-row>
    <hr/>
    <b-alert show variant="danger" v-if="error">{{ error }}</b-alert>
    <b-table striped hover fixed :items="filteredComments" :fields="fields" :per-page="perPage" :current-page="currentPage" id="comments-table">
      <template v-slot:cell(user)="comment">
        <span v-if="editing !== comment.item._id && !comment.item.verified">{{ comment.item.user }}</span>
        <span v-if="editing !== comment.item._id && comment.item.verified" style="font-size: 16px;"><b-badge variant="primary" v-if="comment.item.verified"><font-awesome-icon icon="check-circle"/> {{ comment.item.user }}</b-badge></span>
        <b-form-input v-model="comment.item.user" v-if="editing === comment.item._id"></b-form-input>
      </template>

      <template v-slot:cell(text)="comment">
        <span v-if="editing !== comment.item._id">{{ comment.item.text }}</span>

        <b-form-textarea v-model="comment.item.text" rows="3" v-if="editing === comment.item._id"></b-form-textarea>
      </template>

      <template v-slot:cell(date)="comment">
        {{ moment(comment.item.date).format("DD.MM.YYYY") }} klo {{ moment(comment.item.date).format("HH.mm.ss") }}
      </template>

      <template v-slot:cell(actions)="comment">
        <b-button variant="success" v-on:click.prevent="edit(comment.item)" v-if="editing !== comment.item._id" class="mr-1 mt-1">Muokkaa</b-button>
        <b-button variant="danger" v-on:click.prevent="remove(comment.item)" v-if="editing !== comment.item._id && !comment.item.deleted" class="mr-1 mt-1">Poista</b-button>
        <b-button variant="warning" v-on:click.prevent="restore(comment.item)" v-if="editing !== comment.item._id && comment.item.deleted" class="mr-1 mt-1">Palauta</b-button>
        <b-button variant="warning" v-on:click.prevent="cancel(comment.item)" v-if="editing === comment.item._id" class="mr-1 mt-1">Peruuta</b-button>
        <b-button variant="success" v-on:click.prevent="save(comment.item)" v-if="editing === comment.item._id" class="mr-1 mt-1">Tallenna</b-button>
        <b-button variant="primary" v-on:click.prevent="sticky(comment.item)" v-if="editing !== comment.item._id" class="mr-1 mt-1">{{ comment.item.sticky ? 'Poista kiinnitys' : 'Kiinnitä' }}</b-button>
        <b-button variant="primary" v-on:click.prevent="verify(comment.item)" v-if="editing !== comment.item._id" class="mr-1 mt-1">{{ comment.item.verified ? 'Poista vahvistus' : 'Vahvista' }}</b-button>
      </template>
    </b-table>

    <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="comments-table"></b-pagination>
  </div>
</template>

<style>
.vdpInnerWrap {
  background: #222222 !important;
}
.vdpHeader {
  background: #333333 !important;
}
.vdpPeriodControl > button {
  color: #FFF !important;
}
</style>

<script>
import moment from 'moment';
import DatePicker from '@/components/Util/DatePicker.vue';
import 'vue-date-pick/dist/vueDatePick.css';

export default {
  name: 'comments',
  components: {
    DatePicker
  },
  data () {
    return {
      comments: [],
      fields: [
        {
          key: 'user',
          sortable: true
        },
        {
          key: 'text',
          sortable: true
        },
        {
          key: 'date',
          sortable: true
        },
        {
          key: 'actions',
          sortable: false
        }
      ],
      error: null,
      editing: null,
      saving: null,
      toastCount: 0,
      cache: {},
      perPage: 20,
      currentPage: 1,
      moment: moment,
      search: '',
      date: ''
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/comment`).then(response => {
      response.data.forEach(comment => {
        if (comment.deleted) {
          comment._rowVariant = 'danger';
        }
      });
      this.comments = response.data.sort((a,b) => new Date(b.date) - new Date(a.date));
    })
    .catch(error => {
      if (error.response) this.error = error.response.data;
      else this.error = error;
    });
  },
  methods: {
    sticky(comment) {
      let sticky = comment.sticky ? false : true;
      this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/comment/${comment._id}`, { token: localStorage.token, data: { sticky: sticky } }).then(response => {
        if (response.status === 200) {
          this.makeToast('Kommentti kiinnitetty', `Kommentti kiinnitetty.`);
          comment.sticky = sticky;
        }
        else {
          this.error = 'Sticky failed';
        }
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        else this.error = error;
      });
    },
    verify(comment) {
      let verified = comment.verified ? false : true;
      this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/comment/${comment._id}`, { token: localStorage.token, data: { verified: verified } }).then(response => {
        if (response.status === 200) {
          this.makeToast('Kommentti vahvistettu', `Kommentti vahvistettu.`);
          comment.verified = verified;
        }
        else {
          this.error = 'Verify failed';
        }
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        else this.error = error;
      });
    },
    edit(comment) {
      this.cache = Object.assign({}, comment);
      this.editing = comment._id;
    },
    save(comment) {
      this.saving = comment._id;
      this.editing = null;
      this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/comment/${comment._id}`, { token: localStorage.token, data: { user: comment.user, text: comment.text } }).then(response => {
        if (response.status === 200) this.saving = null;
        else {
          this.saving = null;
          this.error = 'Saving failed';
        }
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        else this.error = error;
      });
    },
    cancel() {
      let c = this.comments.find(comment => comment._id === this.cache._id);
      c.user = this.cache.user;
      c.text = this.cache.text;
      this.cache = {};
      this.editing = null;
    },
    restore(comment) {
      this.$http.delete(`${process.env.VUE_APP_API_ENDPOINT}/comment/${comment._id}`, { data: { token: localStorage.token } }).then(response => {
        if (response.status === 200) {
          this.makeToast('Kommentti palautettu', `Kommentti palautettu.`);
          comment.deleted = false;
          delete comment._rowVariant;
          this.$root.$emit('bv::refresh::table', 'comments-table');
        }
      })
      .catch(error => {
        if (error.response) this.makeToast('Error', error.response.data, 'danger', 60000);
        else this.makeToast('Error', error, 'danger', 60000);
      });
    },
    remove(comment) {
      this.$http.delete(`${process.env.VUE_APP_API_ENDPOINT}/comment/${comment._id}`, { data: { token: localStorage.token } }).then(response => {
        if (response.status === 200) {
          this.makeToast('Kommentti piiloitettu', `Kommentti piilotettu.`);
          comment.deleted = !comment.deleted;
          comment._rowVariant = 'danger';
          this.$root.$emit('bv::refresh::table', 'comments-table');
        }
      })
      .catch(error => {
        if (error.response) this.makeToast('Error', error.response.data, 'danger', 60000);
        else this.makeToast('Error', error, 'danger', 60000);
      });
    },
    makeToast(title, text, variant = null, delay = 5000) {
      this.toastCount++
      this.$bvToast.toast(text, {
        title: title,
        autoHideDelay: delay,
        variant: variant
      });
    }
  },
  computed: {
    rows() {
      return this.filteredComments.length;
    },
    filteredComments() {
      if (this.search || this.date) {
        return this.comments.filter(comment => {
          return this.search ? comment.user.toLowerCase().includes(this.search.toLowerCase()) : '' ||
                 this.date ? moment(comment.date).startOf('day').valueOf() === moment(this.date).startOf('day').valueOf() : '';
        });
      }
      else {
        return this.comments;
      }
    }
  }
}
</script>