<template>
  <div class="emotes">
    <h5>Emotet</h5>
    <hr/>
    <b-table striped hover :items="emotes" :fields="fields" id="emotes-table">
      <template v-slot:cell(tag)="emote">
        <span v-if="editing !== emote.item._id">{{ emote.item.tag }}</span>
        <b-form-input v-model="emote.item.tag" v-if="editing === emote.item._id"></b-form-input>
      </template>

      <template v-slot:cell(image)="emote">
        <span v-if="editing !== emote.item._id">{{ emote.item.image }}</span>
        <b-form-input v-model="emote.item.image" v-if="editing === emote.item._id"></b-form-input>
      </template>

      <template v-slot:cell(preview)="emote">
        <b-img :src="emote.item.image" fluid :alt="emote.item.tag"></b-img>
      </template>

      <template v-slot:cell(actions)="emote">
        <b-button variant="success" v-on:click.prevent="edit(emote.item)" v-if="editing !== emote.item._id" class="mr-1">Muokkaa</b-button>
        <b-button variant="danger" v-on:click.prevent="remove(emote.item)" v-if="editing !== emote.item._id" class="mr-1">Poista</b-button>
        <b-button variant="success" v-on:click.prevent="save(emote.item)" v-if="editing === emote.item._id" class="mr-1">Tallenna</b-button>
        <b-button variant="warning" v-on:click.prevent="cancel(emote.item)" v-if="editing === emote.item._id" class="mr-1">Peruuta</b-button>
      </template>
    </b-table>

    <b-button variant="success" v-on:click.prevent="add">Lisää uusi</b-button>
  </div>
</template>

<script>
export default {
  name: 'emotes',
  data () {
    return {
      emotes: [],
      fields: [
        {
          key: 'tag',
          sortable: true
        },
        {
          key: 'image',
          sortable: true
        },
        {
          key: 'preview',
          sortable: false
        },
        {
          key: 'actions',
          sortable: false
        }
      ],
      error: null,
      editing: null,
      cache: {}
    }
  },
  beforeMount() {
    this.reload();
  },
  methods: {
    reload() {
      this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/emote`).then(response => {
        this.emotes = response.data;
      })
      .catch(error => {
        this.makeToast('Emoteja hakiessa tapahtui virhe', error, 'danger', 60000);
      });
    },
    remove(emote) {
      this.$bvModal.msgBoxConfirm('Haluatko varmasti poistaa tämän emoten? Poistoa ei voi peruuttaa.')
        .then(value => {
          if (value) {
            this.$http.delete(`${process.env.VUE_APP_API_ENDPOINT}/emote/${emote._id}`, { data: { token: localStorage.token }}).then(response => {
              if (response.status === 200) this.makeToast('Emote poistettu', 'Emote on poistettu');
              else this.makeToast('Tapahtui virhe', 'Emote ei välttämättä poistunut. Jos ongelma jatkuu, ilmoita siitä.', 'danger', 60000);
              this.reload();
            })
            .catch(error => {
              this.makeToast('Tapahtui virhe', error, 'danger', 60000);
            });
          }
        })
        .catch(err => {
          this.makeToast('Tapahtui virhe', err, 'danger', 60000);
        });
    },
    cancel() {
      let restore = this.emotes.find(emote => emote._id === this.cache._id);
      restore.tag = this.cache.tag;
      restore.image = this.cache.image;
      this.editing = null;
    },
    edit(emote) {
      this.editing = emote._id;
      this.cache = Object.assign({}, emote);
    },
    save(emote) {
      if (emote._id === 'temporary') {
        this.$http.post(`${process.env.VUE_APP_API_ENDPOINT}/emote`, { token: localStorage.token, tag: emote.tag, image: emote.image }).then(response => {
          if (response.status === 200) this.makeToast('Emote tallennettu', 'Emote tallennettu onnistuneesti');
          else this.makeToast('Tallennus epäonnistui', 'Emoten tallennus epäonnistui.')
        })
        .catch(error => {
          this.makeToast('Tallennus epäonnistui', error, 'danger', 60000);
        });
      }
      else {
        this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/emote/${emote._id}`, { token: localStorage.token, tag: emote.tag, image: emote.image }).then(response => {
          if (response.status === 200) this.makeToast('Emote tallennettu', 'Emote tallennettu onnistuneesti');
          else this.makeToast('Tallennus epäonnistui', 'Emoten tallennus epäonnistui.')
        })
        .catch(error => {
          this.makeToast('Tallennus epäonnistui', error, 'danger', 60000);
        });
      }
      this.editing = null;
    },
    add() {
      if (this.editing) this.cancel();
      if (this.emotes.find(emote => emote._id === 'temporary')) return this.makeToast('Täytä kentät ja tallenna ennen uuden lisäämistä', 'Sinulla on tallentamaton uusi emote. Tallenna se ennen uuden tekemistä.');
      this.emotes.push({ tag: "", image: "", _id: 'temporary' });
      this.editing = 'temporary';
    },
    makeToast(title, text, variant = null, delay = 5000) {
      this.toastCount++
      this.$bvToast.toast(text, {
        title: title,
        autoHideDelay: delay,
        variant: variant
      });
    }
  }
}
</script>