<template>
  <div class="login">
    <b-container>
      <b-row>
        <b-col md="4" offset-md="4">
          <b-form @submit.prevent="authenticate">
            <b-form-group id="username" label="Username" label-for="username-input">
              <b-form-input id="username-input" v-model="formData.username" type="text" required placeholder="Username"></b-form-input>
            </b-form-group>

            <b-form-group id="password" label="Password" label-for="password-input">
              <b-form-input id="password-input" v-model="formData.password" type="password" required placeholder="Password"></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Login</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      formData: {},
      error: null
    }
  },
  methods: {
    authenticate() {
      let formData = this.formData;
      this.$http.post(`${process.env.VUE_APP_API_ENDPOINT}/auth`, { user: formData.username, password: formData.password }).then(response => {
        if (response.status === 200) {
          if (response.data.token) {
            localStorage.token = response.data.token;
            this.$root.$emit('loginSuccess', response.data.token);
          }
        }
      })
      .catch(error => {
        this.error = error;
      });
    }
  }
}
</script>