<template>
  <div class="polls">
    <b-row>
      <b-col>
        <h5>Kyselyt</h5>
      </b-col>
      <b-col>
        <button class="btn btn-success btn-sm float-right" v-b-modal.newQModal>Lisää uusi kysely</button>
      </b-col>
    </b-row>
    <b-alert show variant="danger" v-if="error">{{ error }}</b-alert>
    <b-table striped hover :items="polls" :fields="fields" id="polls-table">
      <template v-slot:cell(answers)="poll">
        <b-list-group>
          <b-list-group-item v-for="(answer, index) in poll.item.answers" :key="index">
            {{ answer.answer }}
            <b-badge variant="info">{{ answer.votes }} ääntä</b-badge>
            <b-button size="sm" variant="danger" class="float-right" v-on:click="remove(index, poll.item)">Poista</b-button>
          </b-list-group-item>
          <b-list-group-item>
            <b-form-input v-model="newAnswer" class="w-75 float-left"></b-form-input>
            <b-button size="sm" variant="success" class="float-right" v-on:click="add(poll.item)">Lisää</b-button>
          </b-list-group-item>
        </b-list-group>
      </template>

      <template v-slot:cell(active)="poll">
        <span class="text-success" v-if="poll.item.active">Kyllä</span>
        <span class="text-danger" v-if="!poll.item.active">Ei</span>
      </template>

      <template v-slot:cell(actions)="poll">
        <b-button size="sm" variant="success" v-if="!poll.item.active" v-on:click="toggle(poll.item)">Aktivoi</b-button>
        <b-button size="sm" variant="warning" v-if="poll.item.active" v-on:click="toggle(poll.item)">Disabloi</b-button>
      </template>
    </b-table>

    <b-modal id="newQModal" @ok="addPoll" centered title="Syötä kysymys">
      <b-form-input v-model="newQuestion"></b-form-input>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'polls',
  data() {
    return {
      polls: [],
      error: null,
      fields: ['question', 'answers', 'active', 'actions'],
      newAnswer: "",
      newQuestion: ""
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/poll`).then(response => {
      this.polls = response.data;
    })
    .catch(error => {
      this.error = error.response.data;
    });
  },
  methods: {
    reload() {
      this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/poll`).then(response => {
        this.polls = response.data;
      })
      .catch(error => {
        this.error = error.response.data;
      });
    },
    remove(index, poll) {
      this.$http.delete(`${process.env.VUE_APP_API_ENDPOINT}/answer/${poll._id}`, { data: { token: localStorage.token, answer: poll.answers[index].answer } }).then(response => {
        if (response.status === 200) {
          poll.answers.splice(index, 1);
          this.makeToast('Vastaus poistettu', 'Vastaus poistettiin kyselystä onnistuneesti');
        }
      })
      .catch(error => {
          if (error.response) this.error = error.response.data;
          else this.error = error;
          this.makeToast('Tapahtui virhe', this.error, 'danger', 60000);
      })
    },
    toggle(poll) {
      this.$http.post(`${process.env.VUE_APP_API_ENDPOINT}/poll/${poll._id}`, { token: localStorage.token }).then(response => {
        if (response.status === 200) {
          if (poll.active) this.makeToast('Kysely päivitetty', 'Kysely on nyt disabloitu');
          else this.makeToast('Kysely päivitetty', 'Kysely on nyt aktivoitu');
          poll.active = !poll.active;
        }
        else {
          this.makeToast('Kyselyn päivitys', 'Kyselyä tapahtuessa tapahtui virhe. Kyselyä ei välttämättä päivitetty.', 'danger', 60000);
        }
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        else this.error = error;
      });
    },
    add(poll) {
      this.error = null;
      if (this.newAnswer) {
        this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/answer/${poll._id}`, { token: localStorage.token, answer: this.newAnswer }).then(response => {
          if (response.status === 200) {
            poll.answers.push({ answer: this.newAnswer, votes: 0 });
            this.newAnswer = "";
            this.makeToast('Uusi vastaus lisätty', 'Vastauksen lisääminen kyselyyn onnistui');
          }
        })
        .catch(error => {
          if (error.response) this.error = error.response.data;
          else this.error = error;
          this.makeToast('Tapahtui virhe', this.error, 'danger', 60000);
        });
      }
      else {
        this.error = 'Kysymyksessä tulee olla tekstiä';
      }
    },
    addPoll() {
      this.$http.post(`${process.env.VUE_APP_API_ENDPOINT}/poll`, { token: localStorage.token, question: this.newQuestion }).then(response => {
        if (response.status === 200) {
          this.makeToast('Kysely lisätty', 'Uusi kysely on lisätty');
          this.newQuestion = "";
          this.reload();
        }
        else {
          this.makeToast('Tapahtui virhe', 'Tietoja ei välttämättä tallennettu', 'danger', 60000);
        }
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        else this.error = error;
        this.makeToast('Tapahtui virhe', this.error, 'danger', 60000);
      });
    },
    makeToast(title, text, variant = null, delay = 5000) {
      this.toastCount++
      this.$bvToast.toast(text, {
        title: title,
        autoHideDelay: delay,
        variant: variant
      });
    }
  }
}
</script>