<template>
  <div class="settings">
    <div v-if="loading" class="text-center">
      <b-spinner variant="primary" label="Spinning"></b-spinner>
    </div>

    <div v-if="!loading">
      <h5>Asetukset</h5>
      <hr/>
      <div v-if="!error">
        <table class="table">
          <tr v-for="setting in settings" :key="setting._id">
            <td>
              <b-form-checkbox switch v-model="setting.value" v-if="setting.type === 'bool'">{{ setting.text }}</b-form-checkbox>
              <label v-if="setting.type === 'text'">{{ setting.text }}</label>
              <b-form-input type="text" v-model="setting.value" v-if="setting.type === 'text'">{{ setting.text }}</b-form-input>
            </td>
          </tr>
        </table>
        <b-button variant="primary" v-on:click.prevent="save">Tallenna muutokset</b-button>
      </div>
      <div v-if="error">
        <b-alert show variant="warning">{{ error }}</b-alert>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'settings',
  data () {
    return {
      loading: true,
      settings: [],
      beforeSave: [],
      error: null,
      editing: false
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/setting`).then(response => {
      if (response.status === 200) {
        this.settings = response.data;
        this.beforeSave = JSON.parse(JSON.stringify(response.data));
        this.loading = false;
      }
      else {
        this.error = 'Could not load settings';
        this.loading = false;
      }
    })
    .catch(error => {
      if (error.response) this.error = error.response.data;
      else this.error = error;
      this.loading = false;
    });
  },
  methods: {
    save() {
      let newSettings = this.settings.filter(setting => this.beforeSave.find(bs => bs.key === setting.key).value !== setting.value);
      this.beforeSave = JSON.parse(JSON.stringify(this.settings));

      newSettings.forEach(setting => {
        this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/setting/${setting._id}`, { token: localStorage.token, key: setting.key, value: setting.value }).then(response => {
          if (response.status === 200) {
            this.makeToast('Asetus tallennettu', `Asetus ${setting.text} tallennettu onnistuneesti`);
          }
          else {
            this.makeToast('Asetuksen tallennus epäonnistui', `Asetusta ${setting.text} ei pystytty tallentamaan`, 'danger', 60000);
          }
        })
        .catch(error => {
          this.makeToast('Asetuksen tallennus epäonnistui', `Asetusta ${setting.text} ei pystytty tallentamaan. ${error}`, 'danger', 60000);
        });
      });
    },
    makeToast(title, text, variant = null, delay = 5000) {
      this.toastCount++
      this.$bvToast.toast(text, {
        title: title,
        autoHideDelay: delay,
        variant: variant
      });
    }
  }
}
</script>