<template>
  <div class="users">
    <h5>Käyttäjät</h5>
    <hr/>
    <b-alert show variant="danger" v-if="error">{{ error }}</b-alert>
    <b-table striped hover :items="users" :fields="fields"></b-table>
  </div>
</template>

<script>
export default {
  name: 'users',
  data () {
    return {
      users: [],
      fields: ['user'],
      error: null
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/user`).then(response => {
      this.users = response.data;
    })
    .catch(error => {
      if (error.response) {
        this.error = error.response.data;
      }
      else {
        this.error = error;
      }
    });
  }
}
</script>