<template>
  <div class="admin">
    <div class="text-center">
      <b-spinner variant="primary" label="Spinning" v-if="loading"></b-spinner>
    </div>
    <Login v-if="!token && !loading"/>
    <b-container v-if="token && !loading">
      <h4>Gerhardin potilas tietokanta</h4>
      <hr/>
      <b-card no-body>
        <b-tabs pills card vertical>
          <b-tab active>
            <template slot="title">
              <font-awesome-icon icon="cogs" /> Asetukset
            </template>
            <b-card-text>
              <Settings/>
            </b-card-text>
          </b-tab>
          <b-tab>
            <template slot="title">
              <font-awesome-icon icon="smile" /> Emotet
            </template>
            <b-card-text>
              <Emotes/>
            </b-card-text>
          </b-tab>
          <b-tab>
            <template slot="title">
              <font-awesome-icon icon="poll-h" /> Kyselyt
            </template>
            <b-card-text>
              <Polls/>
            </b-card-text>
          </b-tab>
          <b-tab>
            <template slot="title">
              <font-awesome-icon icon="user" /> Käyttäjät
            </template>
            <b-card-text>
              <Users/>
            </b-card-text>
          </b-tab>
          <b-tab>
            <template slot="title">
              <font-awesome-icon icon="comments" /> Kommentit
            </template>
            <b-card-text>
              <Comments/>
            </b-card-text>
          </b-tab>
        </b-tabs>
      </b-card>
    </b-container>
  </div>
</template>

<style>
.admin {
  padding-top: 75px;
}
</style>

<script>
import Login from '@/components/Admin/Login.vue'
import Settings from '@/components/Admin/Settings.vue'
import Emotes from '@/components/Admin/Emotes.vue'
import Polls from '@/components/Admin/Polls.vue'
import Users from '@/components/Admin/Users.vue'
import Comments from '@/components/Admin/Comments.vue'

export default {
  name: 'admin',
  data () {
    return {
      token: null,
      loading: true,
      error: null
    }
  },
  components: {
    Login,
    Settings,
    Emotes,
    Polls,
    Users,
    Comments
  },
  beforeMount() {
    if (localStorage.token) {
      this.$http.post(`${process.env.VUE_APP_API_ENDPOINT}/validate`, { token: localStorage.token }).then(response => {
        if (response.status === 200) {
          if (response.data === true) {
            this.token = localStorage.token;
            this.loading = false;
          }
        }
      })
      .catch(error => {
        this.error = error;
        this.token = null;
        localStorage.removeItem('token');
        this.loading = false;
      });
    }
    else {
      this.loading = false;
    }
  },
  mounted() {
    this.$root.$on('loginSuccess', (token) => {
      this.token = token;
    });
  }
}
</script>