<template>
  <div class="commentview">
    <b-container class="text-center" v-if="loading">
      <b-spinner variant="primary" label="Spinning"></b-spinner>
    </b-container>
    <b-container v-if="!loading">
      <b-container v-if="error">
        <b-alert show variant="info">{{ error }}</b-alert>
      </b-container>
      <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" v-if="!error">
        <div class="toast-header">
          <strong class="mr-auto">{{ comment.user }} <font-awesome-icon icon="check-circle" v-if="comment.verified" /></strong>
          <small>{{ formatDate(new Date(comment.date)) }} klo {{ formatTime(new Date(comment.date)) }}</small>
        </div>
        <div class="toast-body">
          {{ comment.text }}
        </div>
      </div>
      <router-link to="/" tag="button" class="btn btn-sm btn-outline-info float-right">Takaisin etusivulle</router-link>
    </b-container>
  </div>
</template>

<style>
.commentview {
  padding-top: 75px;
}
</style>

<script>
import moment from 'moment';

export default {
  name: 'commentview',
  data () {
    return {
      id: this.$route.params.id,
      comment: {},
      error: null,
      loading: true
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/comment/${this.id}`).then(response => {
      if (response.status === 200) {
        this.comment = response.data;

        document.title = `Tohtori Gerhard - Käyttäjän ${this.comment.user} kommentti`;

        const tags = [
          {
            name: 'og:title',
            content: this.comment.user
          },
          {
            name: 'og:description',
            content: this.comment.text
          }
        ];

        tags.map(tagDef => {
          const tag = document.createElement('meta');

          Object.keys(tagDef).forEach(key => {
            tag.setAttribute(key, tagDef[key]);
          });

          return tag;
        })
        .forEach(tag => document.head.appendChild(tag));

        this.loading = false;
      }
      else {
        this.error = 'Kommentin hakeminen epäonnistui';
        this.loading = false;
      }
    })
    .catch(error => {
      if (error.response) this.error = error.response.data;
      else this.error = error;
      this.loading = false;
    });
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY")
    },
    formatTime(date) {
      return moment(date).format("HH.mm");
    }
  }
}
</script>