<template>
  <div class="home">
    <div v-if="loading" class="text-center">
      <b-spinner variant="primary" label="Spinning"></b-spinner>
    </div>
    <div v-if="!loading">
      <b-container fluid class="admin-message" v-if="setting('showAdminMessage')">
        <b-container class="p-2" id="announcement">Tiedotus: {{ setting('adminMessage') }}</b-container>
      </b-container>
      <b-container>
        <div style="position: relative" id="video-container">
          <a :href="setting('orderButtonLocation')" class="button" id="order-bottle">Tilaa pullo!</a>
          <b-embed type="video" aspect="16by9" controls id="player">
            <source src="Gerhard.mp4" type="video/mp4" id="video-source">
          </b-embed>
        </div>
      </b-container>
      <br/>
      <b-container>
        <b-row>
          <b-col md="8">
            <Comments v-if="setting('showComments')"/>
          </b-col>
          <b-col md="4">
            <Comment v-if="setting('allowCommenting')"/>
            <hr v-if="setting('allowCommenting')"/>
            <Visitors v-if="setting('showActive') && accepted"/>
            <hr  v-if="setting('showActive') && accepted"/>
            <Polls v-if="setting('showPolls') && accepted"/>
            <hr v-if="setting('showPolls') && accepted"/>
            <h5 id="dr-answers">Tohtorin vastauksia</h5>
            <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/TohtoriG?ref_src=twsrc%5Etfw">Tweets by TohtoriG</a>
          </b-col>
        </b-row>
      </b-container>
      <footer class="container">
        <small>Kyseessä on <span id="meme-site">meemisivusto</span>. Sivusto ei myy tai toimita yhtään mitään, paitsi toivottavasti naurut. Myöskään linkattu Twitch kanava ei ole tekemisissä sivuston kanssa. Sivuston toteutus: <a href="https://www.wokki.dev/" target="_blank">Wokki</a></small>
      </footer>

      <b-container fluid class="admin-message fixed-bottom" v-if="!accepted">
        <b-container class="p-2">
          Sivustomme käyttää evästeitä. Tietyt sivuston ominaisuudet eivät toimi ilman niitä. Jotta saat täyden kokemuksen, hyväksythän evästeet.
          <br/>
          <b-button variant="success" size="sm" class="mr-1 mt-1" v-on:click="accept">Hyväksyn</b-button>
        </b-container>
      </b-container>
    </div>
  </div>
</template>

<style>
.button {
  background-color: #040a56;
  border: 1px solid #34367a;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  margin: 3px 0px;
  padding: 10px 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
#disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #F3F3F3;
}
.admin-message {
  background-color: rgb(60, 60, 60);
  color: rgb(180, 180, 180);
}
</style>

<script>
import Polls from '@/components/Polls.vue'
import Comments from '@/components/Comments.vue'
import Comment from '@/components/Comment.vue'
import Visitors from '@/components/Visitors.vue'

export default {
  name: 'home',
  components: {
    Polls,
    Comments,
    Comment,
    Visitors
  },
  data () {
    return {
      settings: [],
      error: null,
      loading: true,
      accepted: false,
      konami: false
    }
  },
  sockets: {
    settingChange(newVal) {
      this.settings.find(setting => setting.key === newVal.key).value = newVal.value;
    }
  }, 
  beforeMount() {
    this.loadSettings();
    if (localStorage.accepted) {
      this.accepted = localStorage.accepted;
    }

    let allowedKeys = {
      37: 'left',
      38: 'up',
      39: 'right',
      40: 'down',
      65: 'a',
      66: 'b'
    };
    let konamiCodePosition = 0;
    let konamiCode = ['up', 'up', 'down', 'down', 'left', 'right', 'left', 'right', 'b', 'a'];

    document.addEventListener('keydown', (e) => {
      let key = allowedKeys[e.keyCode];
      let requiredKey = konamiCode[konamiCodePosition];

      if (key === requiredKey) {
        konamiCodePosition++;
        if (konamiCodePosition == konamiCode.length) {
          this.konami = true;
          this.runKonami();
          konamiCodePosition = 0;
        }
      }
      else {
        konamiCodePosition = 0;
      }
    });
  },
  methods: {
    loadSettings() {
      this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/setting`).then(response => {
        this.settings = response.data;
        this.loading = false;
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        this.loading = false;
      });
    },
    accept() {
      this.accepted = true;
      localStorage.accepted = true;
    },
    setting(key) {
      return this.settings.find(setting => setting.key === key).value;
    },
    runKonami() {

      let container = document.getElementById('video-container');

      let div = document.createElement('div');
      div.setAttribute('class', 'embed-responsive embed-responsive-16by9');

      let player = document.getElementById('player');
      player.parentElement.remove();

      let video = document.createElement('video');
      video.setAttribute('class', 'embed-responsive-item');
      video.setAttribute('controls', 'controls');
      let source = document.createElement('source');
      source.setAttribute('src', 'Gachi.mp4');
      source.setAttribute('type', 'video/mp4');
      video.appendChild(source);
      video.volume = 0.05;
      video.play();

      document.getElementById('order-bottle').innerHTML = 'Tilaa homo!';
      document.getElementById('order-bottle').setAttribute('href', 'https://www.twitch.tv/penanator');
      if (this.setting('showComments')) document.getElementById('user-comments').innerHTML = 'Homojen kommentteja';
      if (this.setting('allowCommenting')) document.getElementById('hyc').innerHTML = 'Oletko SINÄ homo? Kerro muille kokemuksistasi!';
      if (this.setting('allowCommenting')) document.getElementById('display-name').setAttribute('placeholder', 'Homo nimesi');
      if (this.setting('allowCommenting')) document.getElementById('comment-box').setAttribute('placeholder', 'Homo kommenttisi');
      if (this.setting('showAdminMessage')) document.getElementById('announcement').innerHTML = 'Tiedotus: Olet homo';
      if (this.setting('showActive')) {
        document.getElementById('users-text').innerHTML = 'homoa';
        document.getElementById('visitors-text').innerHTML = 'homoja';
        document.getElementById('visitors-text2').innerHTML = 'homoa';
        document.getElementById('visitors-title').innerHTML = 'Homot';
      }
      document.getElementById('dr-answers').innerHTML = 'Homon vastauksia';
      document.getElementById('meme-site').innerHTML = 'homosivusto';

      document.title = 'Tohtori Gerhard - Tilaa homo!';

      div.appendChild(video);
      container.appendChild(div);
    }
  }
}
</script>
