<template>
  <div id="not-found">
    <b-container class="mt-5">
      <b-row>
        <b-col md="4" offset="4" class="text-center">
          <h1>404</h1>
          <p>Etsimääsi sivua ei löytynyt</p>
          <router-link to="/" tag="button" class="btn btn-outline-info">Palaa etusivulle</router-link>
        </b-col>
      </b-row> 
    </b-container>
  </div>
</template>