<template>
  <div class="comment">
    <h4 id="hyc">Oletko SINÄ tilannut jo ilmaisen pullosi? Kerro muille kokemuksistasi!</h4>
    <hr/>
    <b-alert v-for="(error, index) in errors" :key="index" :show="error.dismissCountDown" dismissible variant="info" @dismissed="error.dismissCountDown = 0" @dismiss-count-down="countDownChanged(error)">
      <p>{{ error.text }}</p>
      <small>Suljetaan automaattisesti {{ error.dismissCountDown }} sekunnin päästä...</small>
      <b-progress
        variant="warning"
        :max="error.dismissSecs"
        :value="error.dismissCountDown"
        height="4px"
      ></b-progress>
    </b-alert>
    <div v-if="!commented" style="position: relative;">
      <div class="form-group">
        <input type="text" v-model.trim="name" placeholder="Nimimerkki (Näkyy muille)" class="form-control" id="display-name">
      </div>
      <div class="form-group">
        <textarea v-model.trim="text" placeholder="Kommenttisi" class="form-control" id="comment-box"></textarea>
      </div>
      <button @click="comment()" :disabled="syncing" class="btn btn-primary">Kommentoi</button>

      <b-tooltip :show.sync="displayEmoteMenu" :disabled.sync="disableToolTip" target="comment-box" placement="top">
        <button class="btn btn-sm" v-for="(emote, index) in emotes" :key="index" v-on:click.prevent="addEmote(emote)"><img :src="emote.image" :alt="emote.tag"/></button>
      </b-tooltip>
    </div>
    <div v-if="commented">
      <p>Kiitos kun jaoit kokemuksesi!</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'comment',
  data () {
    return {
      name: '',
      text: '',
      commented: false,
      syncing: false,
      emotes: [],
      disableToolTip: true,
      errors: []
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/emote`).then(response => {
      this.emotes = response.data;
    });
  },
  methods: {
    countDownChanged(error) {
      setTimeout(() => {
        error.dismissCountDown--;
      }, 1000);
    },
    async comment() {
      this.syncing = true;
      if (this.name.length < 3) {
        this.syncing = false;
        return this.errors.push({ text: 'Nimimerkin tulee olla vähintään 3 kirjainta pitkä', dismissSecs: 5, dismissCountDown: 5 });
      }
      if (this.text.length < 1) {
        this.syncing = false;
        return this.errors.push({ text: 'Tekstikenttä ei voi olla tyhjä', dismissSecs: 5, dismissCountDown: 5 });
      }

      this.$root.$emit('userCommented', { user: this.name, text: this.text });
      await this.$http.post(`${process.env.VUE_APP_API_ENDPOINT}/comment`, { user: this.name, text: this.text }).then(() => {
        this.$root.$emit('commentSuccess');
        const payload = {
          content: `**${this.name}**\n\`\`\`${this.text}\`\`\` `
        };
        this.$http.post(`${process.env.VUE_APP_WEBHOOK}`, JSON.stringify(payload));
      });
      this.commented = true;
      this.syncing = false;
    },
    addEmote(emote) {
      this.text = this.text.slice(0, this.text.length - 1) + emote.tag + ' ';
    },
    makeToast(title, text, variant = null, delay = 5000) {
      this.toastCount++
      this.$bvToast.toast(text, {
        title: title,
        autoHideDelay: delay,
        variant: variant
      });
    }
  },
  computed: {
    displayEmoteMenu() {
      if (this.text.endsWith(':')) return true;
      else return false;
    }
  }
}
</script>