<template>
  <div class="comments">
    <h4 id="user-comments">Käyttäjien kommentteja</h4>
    <hr/>
    <div v-if="!error">
      <b-row>
        <b-col md="4">
          <b-form-select v-model="order" :options="orderOptions"/>
        </b-col>
        <b-col md="4">
          <b-form-select v-model="perPage" :options="perPageOptions"/>
        </b-col>
      </b-row>
      <hr/>
      <div class="alert alert-info" role="alert" v-if="newMessages > 0" v-on:click.prevent="reload()" style="cursor:pointer">
        {{ newMessages }} {{ newMessages === 1 ? 'uusi kommentti' : 'uutta kommenttia' }}. Klikkaa ladataksesi {{ newMessages === 1 ? 'se' : 'ne' }}!
      </div>

      <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" class="d-flex justify-content-center align-items-center"></b-pagination>

      <b-toast v-for="comment in visibleComments" v-bind:key="comment._id" :variant="comment.verified ? 'primary' : 'default'" visible no-auto-hide no-close-button no-fade static toaster="b-toaster-top-full">
        <template v-slot:toast-title>
          <strong class="mr-auto">
            <b-button variant="light" v-b-tooltip.hover title="Kiinnitetty kommentti" class="mr-2" style="background-color:transparent;border:0px;margin:0;padding:0;" v-if="comment.sticky">
              <font-awesome-icon icon="thumbtack" style="transform:rotate(45deg)"/>
            </b-button>
            <b-button variant="light" v-b-tooltip.hover title="Vahvistettu kommentti" class="mr-2" style="background-color:transparent;border:0px;margin:0;padding:0;" v-if="comment.verified">
              <font-awesome-icon icon="check-circle"/>
            </b-button>{{ comment.user }}
          </strong>
          <small>{{ formatDate(new Date(comment.date)) }} klo {{ formatTime(new Date(comment.date)) }}</small>
          <b-button variant="light" size="sm" class="ml-1" style="margin-right: -7px;" v-b-tooltip.hover title="Kopioi linkki kommenttiin" v-clipboard:copy="`${url}comment/${comment._id}`" v-clipboard:success="copySuccess">
            <font-awesome-icon icon="paperclip"/>
          </b-button>
        </template><span v-html="comment.text" v-if="comment.verified"></span><span v-if="!comment.verified">{{ comment.text }}</span>
      </b-toast>

      <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" class="d-flex justify-content-center align-items-center"></b-pagination>
    </div>
    <div v-if="error">
      <b-alert show variant="warning">Kommenttien hakeminen epäonnistui. {{ error }}</b-alert>
    </div>
  </div>
</template>

<style>
.b-toast {
  max-width: 100% !important;
  background-color: #000 !important;
}
.toast {
  opacity: 1;
  max-width: 100%;
  background-color: #000 !important;
}

.b-toast-default .toast-header {
  background-color: rgb(27, 27, 27);
  border-bottom: 1px solid rgb(25, 25, 25);
}
.b-toast-default .toast-body {
  color: rgb(180, 180, 180);
  background-color: rgb(20, 20, 20);
  white-space: pre-line;
}

.b-toast-primary .toast {
  border: 1px solid rgb(25, 25, 25) !important;
  background-color: #000;
}
.b-toast-primary .toast-header {
  background-color: #1d242e !important;
  color: #039fd4 !important;
  border-bottom: 1px solid rgb(29, 36, 46) !important;
}
.b-toast-primary .toast-body {
  background-color: #13181e !important;
  color: #039fd4 !important;
  white-space: pre-line;
}
</style>

<script>
import moment from 'moment';

export default {
  name: 'comments',
  data () {
    return {
      url: [location.protocol, '//', location.host, location.pathname].join(''),
      comments: [],
      emotes: [],
      currentPage: 1,
      perPage: 10,
      perPageOptions: [
        { value: 10, text: '10 viestä per sivu' },
        { value: 20, text: '20 viestä per sivu' },
        { value: 30, text: '30 viestä per sivu' },
        { value: 40, text: '40 viestä per sivu' },
        { value: 50, text: '50 viestä per sivu' },
        { value: 60, text: '60 viestä per sivu' },
        { value: 70, text: '70 viestä per sivu' },
        { value: 80, text: '80 viestä per sivu' },
        { value: 90, text: '90 viestä per sivu' },
        { value: 100, text: '100 viestä per sivu' },
      ],
      order: 'desc',
      orderOptions: [
        { value: 'desc', text: 'Uusimmasta vanhimpaan' },
        { value: 'asc', text: 'Vanhimmasta uusimpaan' }
      ],
      error: null,
      newMessages: 0,
      linkToComment: ""
    }
  },
  sockets: {
    newComment () {
      this.newMessages += 1;
    },
    commentUpdate() {
      this.reload();
    }
  },
  watch: {
    visibleComments() {
      // Adding a timeout because for some reason without it the emotes wont load
      setTimeout(() => {
        this.loadEmotes();
      }, 100);
    },
    order() {
      this.sort();
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/comment`).then(response => {
      if (response.status === 200) {
        this.comments = response.data
          .filter(comment => !comment.deleted)
          .sort((a, b) => new Date(b.date) - new Date(a.date));
      }
      else {
        this.error = 'Could not load comments';
      }
    })
    .catch(error => {
      this.error = error;
    });

    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/emote`).then(response => {
      if (response.status === 200) {
        this.emotes = response.data;
        this.loadEmotes();
      }
      else {
        this.error = 'Could not fetch emotes';
      }
    })
    .catch(error => {
      this.error = error;
    });
  },
  mounted() {
    this.$root.$on('userCommented', () => {
      this.loading = true;
      this.newMessages -= 1;
    });
    this.$root.$on('commentSuccess', () => {
      this.loading = false;
      this.reload();
    });
  },
  methods: {
    loadEmotes() {
      let toasts = document.getElementsByClassName("toast-body");
      toasts = Array.from(toasts);
      toasts.forEach(toast => {
        this.emotes.forEach(emote => {
          if (toast.innerHTML.indexOf(emote.tag) !== -1) {
            toast.innerHTML = toast.innerHTML.replace(new RegExp(emote.tag, "g"), `<img src="${emote.image}"/>`);
          }
        });
      });
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY")
    },
    formatTime(date) {
      return moment(date).format("HH.mm");
    },
    reload() {
      this.newMessages = 0;
      this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/comment`).then(response => {
        if (response.status === 200) {
          this.comments = response.data
            .filter(comment => !comment.deleted)
            .sort((a, b) => new Date(b.date) - new Date(a.date));
          this.loadEmotes();
        }
        else {
          this.error = 'Could not load comments';
        }
      })
      .catch(error => {
        this.error = error;
      });
    },
    sort() {
      if (this.order === 'desc') this.comments = this.comments.sort((a, b) => new Date(b.date) - new Date(a.date));
      else this.comments = this.comments.sort((a, b) => new Date(a.date) - new Date(b.date));
    },
    copySuccess() {
      this.makeToast('Kopioitu', 'Linkki kommenttiin kopioitu');
    },
    makeToast(title, text, variant = null, delay = 5000) {
      this.toastCount++
      this.$bvToast.toast(text, {
        title: title,
        autoHideDelay: delay,
        variant: variant
      });
    }
  },
  computed: {
    rows() {
      return this.comments.length;
    },
    visibleComments() {
      let stickyComments = this.comments.filter(comment => comment.sticky);
      let comments = this.comments.slice(0 + ((this.currentPage - 1) * this.perPage), this.currentPage * this.perPage).filter(comment => !comment.sticky);
      return stickyComments.concat(comments);
    }
  }
}
</script>