<template>
  <div class="polls">
    <h5>Kyselyt</h5>
    <hr/>
    <b-alert show variant="info" v-if="error">{{ error }}</b-alert>
    <b-form-group v-for="poll in polls" :key="poll._id" :label="poll.question">
      <div v-if="!voted.includes(poll._id)">
        <b-form-radio v-for="(answer, index) in poll.answers" v-model="poll.selected" :key="index" :value="index">{{ answer.answer }}</b-form-radio>
        <b-button variant="primary" size="sm" class="mt-2" v-on:click="vote(poll)">Äänestä</b-button>
      </div>
      <div v-if="voted.includes(poll._id)">
        <b-progress
          show-value
          v-for="(answer, index) in poll.answers"
          :key="index"
          :max="poll.answers.map(a => a.votes).reduce((a,b) => a+b)"
          class="mt-2"
        >
          <b-progress-bar :value="answer.votes">
            <span><strong>{{ answer.answer }}</strong> ({{ answer.votes }} {{ answer.votes === 1 ? 'ääni' : 'ääntä' }})</span>
          </b-progress-bar>
        </b-progress>
      </div>
    </b-form-group>
    <p v-if="polls.length === 0">Ei aktiivisia kyselyitä</p>
  </div>
</template>

<script>
export default {
  name: 'Polls',
  data () {
    return {
      polls: [],
      voted: [],
      error: null
    }
  },
  watch: {
    polls() {
      this.error = null;
    }
  },
  sockets: {
    pollVote(data) {
      this.polls.find(poll => poll._id === data.poll._id).answers[data.answer].votes += 1;
    },
    pollsChange() {
      this.reload();
    }
  },
  beforeMount() {
    this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/poll`).then(response => {
      if (response.status === 200) {
        this.polls = response.data.filter(poll => poll.active);
      }
      else {
        this.error = 'Kysylyiden hakeminen epäonnistui';
      }
    })
    .catch(error => {
      if (error.response) this.error = error.response.data;
      else this.error = error;
    });

    if (localStorage.voted) {
      this.voted = JSON.parse(localStorage.voted);
    }
  },
  methods: {
    vote(poll) {
      if (poll.selected !== undefined) {
        this.$http.put(`${process.env.VUE_APP_API_ENDPOINT}/vote/${poll._id}/${poll.selected}`).then(response => {
          if (response.status === 200) {
            this.voted.push(poll._id);
            localStorage.voted = JSON.stringify(this.voted);
          }
          else {
            this.error = 'Äänestys epäonnistui. Kokeile myöhemmin uudestaan.';
          }
        })
        .catch(error => {
          if (error.response) this.error = error.response.data;
          else this.error = error;
        });
      }
      else {
        this.error = 'Sinun tulee valita vähintään yksi vaihtoehto';
      }
    },
    reload() {
      this.$http.get(`${process.env.VUE_APP_API_ENDPOINT}/poll`).then(response => {
        if (response.status === 200) {
          this.polls = response.data.filter(poll => poll.active);
        }
        else {
          this.error = 'Kysylyiden hakeminen epäonnistui';
        }
      })
      .catch(error => {
        if (error.response) this.error = error.response.data;
        else this.error = error;
      });
    }
  }
}
</script>