<template>
  <div class="visitors">
    <h5 id="visitors-title">Kävijät</h5>
    <p>Sivustolla on aktiivisena <b-badge variant="info">{{ connected }}</b-badge>&nbsp;<span id="users-text">{{ connected === 1 ? 'kävijä' : 'kävijää' }}</span></p>
    <p>Ennätysmäärä <span id="visitors-text">kävijöitä</span> oli <b-badge variant="info">{{ peak.amount ? peak.amount : '?' }}</b-badge>&nbsp;<span id="visitors-text2">kävijää</span> {{ formatDate(peak.date) }} klo {{ formatTime(peak.date) }}</p>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'visitors',
  data () {
    return {
      connected: 0,
      peak: {}
    }
  },
  sockets: {
    count (amount) {
      this.connected = amount;
    },
    peak (value) {
      this.peak = value;
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY")
    },
    formatTime(date) {
      return moment(date).format("HH.mm");
    }
  }
}
</script>